@media only screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .author {
    gap: 1.5rem;
  }
  .card {
    flex-direction: column;
    height: auto;
  }

  .content-container {
    padding: 0rem 0rem;
  }

  .actual-content {
    padding: 3rem 2.5rem 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .content-paragraph {
    font-size: 1.6rem;
    text-align: left;
  }

  .content-footer-active {
    background-color: var(--very-Dark-Grayish-Blue);
  }

  .content-footer {
    padding: 2.5rem 3rem;
    border-radius: 0 0 1rem 1rem;
  }
  .image-container {
    width: 100%;
    height: 30rem;
    border-radius: 1rem 1rem 0 0;
  }

  .active-state-mobile {
  }

  .flex-temp {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .share-container {
    margin-left: auto;
  }

  .share-container-mobile:hover {
    background-color: whitesmoke;
  }
  .share-container-mobile:hover .share-icon {
    color: var(--very-Dark-Grayish-Blue);
  }

  .active-state-share-popup {
    display: none;
  }

  .share-text-mobile {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--grayish-Blue);
    transition: color 0.3s ease-out;
    font-size: 1.5rem;
  }

  .share-text-mobile:hover {
    color: whitesmoke;
  }
  .share-options-mobile {
    display: flex;
    gap: 2rem;
  }

  .social-media-icons {
    width: 3rem;
  }

  .pointed-inverted-triangle {
    width: 5rem;
    background-color: var(--very-Dark-Grayish-Blue);
    height: 2rem;
    position: absolute;
    bottom: -15%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
  }
}
